# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\www\ifood_with_strategy\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
